<div class="banner"></div>
<!-- search bar -->
<div class="container">
  <div class="search-bar-outer mt-3" style="padding: 0 90px;">
    <div class="search-bar-inner">
      <form class="row d-flex justify-content-between" action="/search">
        <div class="input-group col-sm-6">
          <input type="text" value="{{keyword}}" name="keyword" class="form-control" placeholder="輸入餐廳、分類"
            aria-label="Restaurant Name..." aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
        <div class="form col-sm-3 d-flex justify-content-between">
          <select class="form-control" id="search-sort" name="sort">
            <option value="餐廳清單排序" selected>餐廳排序</option>
            <optgroup label="排序方式">
              <option name="asc" value="A-Z">A-Z</option>
              <option name="desc" value="Z-A">Z-A</option>
              <option name="category" value="category">依類別</option>
              <option name="location" value="location">依地區</option>
            </optgroup>
          </select>
          <button class="btn btn-major ml-2" type="submit" id="search-button">Go</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        <a href="./new" class="text-secondary">
          <div class="card card-restaurant mb-3">
            <div class="add-picture d-flex flex-column justify-content-center align-items-center"
              style="width: 100%; height: 100%; padding: 38px; background-color: rgb(221, 217, 217);">
              <h1 style="color: #fff; text-shadow: 3px 2px #9e9999">新增餐廳</h1>
              <i class="fas fa-plus-circle" style="color: #fff; font-size: 50px; text-shadow: 2px 2px #9e9999"></i>
            </div>
            <div class="card-body p-3">
              <h6 class="card-title mb-1">(餐廳名稱)</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i>(餐廳口味)
              </div>

              <span class="badge badge-pill badge-danger font-weight-normal" style="background-color: #4592af;">
                (評分)
                <i class="fas fa-star fa-xs"></i>
              </span>
            </div>
          </div>
        </a>
        {{#each restaurants}}
        <a href="/restaurants/{{ this._id }}" class="text-secondary">
          <div class="card card-restaurant mb-3">
            <img class="card-img-top" src="{{ this.image }}" alt="{{ this.name }}">
            <div class="card-body p-3 d-flex justify-content-between">
              <div class="card-body-info">
                <h6 class="card-title mb-1">{{ this.name }}</h6>

                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2"></i>{{ this.category }}
                </div>

                <span class="badge badge-pill badge-danger font-weight-normal" style="background-color: #4592af;">
                  {{ this.rating }}
                  <i class="fas fa-star fa-xs"></i>
                </span>
              </div>
              <div class="card-body-control">
                <a href="./restaurants/{{ this._id }}/edit" style="text-decoration: none;">
                  <button class="btn btn-light"
                    style="font-size: 15px; padding: 5px 10px; margin-bottom: 3px; background-color:#4592af; color: #fff;">編輯</button>
                </a>
                <form action="./restaurants/{{ this._id }}?_method=DELETE" method="POST">
                  <button type="submit" class="btn"
                    style="font-size: 15px; padding: 5px 10px; background-color:#1f4553; color: #fff;">刪除</button>
                </form>
              </div>
            </div>
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>